
.reflection {
  position: relative;
}

.reflection::after {
  content: "";
  position: absolute;
  top: 100%; /* Place below the original element */
  left: 0;
  right: 0;
  bottom: -20px; /* Adds spacing between the image and reflection */
  background-image: inherit;
  background-size: cover;
  background-position: center;
  transform: scaleY(-1); /* Flips the image vertically */
  opacity: 0.5; /* Adjust the transparency for reflection */
}

/* Custom CSS for animations */
.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
