@import "@fontsource/bricolage-grotesque"; 

body {
  font-family: 'Bricolage Grotesque', sans-serif;
  background-color: black;
}

.reflection {
  position: relative;
} 

.fade-in {
  animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(1);
    opacity: 1;
  }
}

.nav-gradient{
  font-weight: light;
  text-align: center;

  background: linear-gradient(to right, white, grey, white);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.gradient-text {
  font-weight: light;
  text-align: center;

  background: linear-gradient(to right, white, grey);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
