@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap');

;root {
    --white: #F5F5F5;
    --light: #E0C9CB;
    --tan: #C3A1A0;
    --pink: #D9AAB7;
    --rose: #BA7E7E;
    --dark: #4E4E4E;
} 

