body {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: white; 
    font-family: 'Sans-serif'; /* Font */
} 



.custom-width{
    align-items: center;
    max-width: 75%;
}